<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>Genesis 商业地理 | 智慧商圈，精准营销，智能选址</title>
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/analysis.css"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8hr2ZB5zsFI6dcId9Uj6ORy2kuLIP8vA"></script>
</head>

<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index"><img width="300" height="30" class="img-responsive" alt="Genesis 商业地理" src="images/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
               <!-- <li>
                    <a href="map?id=<%=id%>">
                        <span class="name">云数据</span>
                    </a>
                </li>
                <li>
                    <a class="no-hover">
                        <span class="name">商业分析</span>
                    </a>
                </li>-->
                <li>
                    <a class="no-hover">
                        <span class="name">当前商圈 ：</span><span class="cur-bussiness">未选择</span>
                    </a>
                </li>
                <li>
                    <a class="no-hover">
                        <span class="name">当前行业 ：</span><span class="cur-industry">未选择</span>
                    </a>
                </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!--
                     <li>
                    <a class="no-hover">
                        <span class="name"></span>
                    </a>
                    </li>
                   <li>
                <a href="#" id="analysis_save" data-id="">
                    <i class="fa fa-save"></i>
                    <span class="name">保存</span>
                </a>
                </li>-->
                    <li class="dropdown user" id="header-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-user"></i>
                            <span class="username"> <%= user.account %></span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="logout"><i class="fa fa-power-off"></i> 退出</a></li>
                        </ul>
                    </li>
                </ul>
               
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-md-1 sidebar">
                <div class="sidebar-menu">
                    <ul class="nav nav-sidebar">
                        <li class="first-category business-tab"><img width="20" height="20" src="images/business.png" alt="商圈"/><a href="#">商圈</a></li>
                        <li class="first-category"><img width="20" height="20" src="images/industry.png" alt="行业"/><a href="#">行业</a></li>
                        <li class="first-category"><img width="20" height="20" src="images/analy.png" alt="分析"/><a href="#">分析</a></li>
                    </ul>
                </div>
            </div>
            <div id="second-category" class="col-md-4 col-sm-4" style="display: none;">
                  <div class="second-category">
                    <ul class="nav nav-second district nav-children" id="district">
                          <%districts.forEach(function(item){%>
                                <li class="district-item">
                                    <a class="district-title" >
                                        <span class="text" style="font-size: 16px;"><%=item.district%></span>
                                    </a>
                                    <div class="business-area" style="display: block;">
                                        <ul>
                                           <%item.bussiness.forEach(function(bname){%>
                                               <a ><input type="radio" name="business-area" value="<%=bname.bussiness_name%>"/><%=bname.bussiness_name%></a>
                                            <%})%>
                                        </ul>
                                    </div>
                                </li>
                         <%})%>
                        </ul>
                    <ul class="nav nav-second brand-analy">
                          <%industry.forEach(function(industry_item){

                            var h = "亲子,酒店,宠物,丽人,K歌,周边游,宴会,家装,结婚,电影,运动健身,学习培训,爱车,医疗健康";
                             if(h.indexOf(industry_item.industry_name)>-1){}else{
%>
                             <li class="brand-item">
                                 <div class="item-body">
                                     <ul class="nav-children industry-area" style="display:block">
                                         <div class="line">
                                             <a class="industy-title" >
                                                 <span class="text" style="font-size: 16px;"><%=industry_item.industry_name%></span>
                                             </a>
                                         </div>
                                         <%industry_item.sub_industry.forEach(function(sub_industry_item){
                                            var t = "轰趴馆,中医养生,茶馆,VR,洗浴,真人CS,采摘/农家乐,酒吧,"
                                            +"运动户外,水果生鲜,特色集市,品牌折扣店,花店,化妆品,家居建材,亲子购物,综合商场,更多购物场所,江西菜,贵州菜,回收,电脑维修,小区,开锁,房屋地产,售票点,政府机构,家电维修,网站,管道疏通,送水/送奶站,商圈,医院,体检中心,商务楼,公司企业,交通,物流快递";
                                            if(t.indexOf(sub_industry_item.sub_industry_name)>-1){}else{

                                         %>
                                            <a class="industy-area-item"><input type="radio" name="industry" value="<%=sub_industry_item.sub_industry_name%>"/><%=sub_industry_item.sub_industry_name%></a>
                                         <%}})%>
                                     </ul>
                                 </div>
                             </li>
                          <%}})%>
                      </ul>
                    <ul class="nav nav-second analysis">
                        <li class="analysis-item">
                 
                            <div class="item-body">
                                <ul class="nav-children industry-common" style="display:block">
                                    <div class="line">
                                        <a class="analy-area-title" >
                                            <span class="text" style="font-size: 16px;">选择行业分析项</span>
                                        </a>
                                    </div>
                                    <div class="industry-common-div">

                                    </div>
                                </ul>
                            </div>
                        </li>
                        <li class="analysis-item">

                            <div class="item-body">
                                <ul class="nav-children house" style="display:block">
                                    <div class="line">
                                        <a class="analy-area-title" >
                                            <span class="text" style="font-size: 16px;">选择房产指数分析项</span>
                                        </a>
                                    </div>
                                    <span class="analy-area-item"> <a><input type="checkbox" class="housePrice" value="住宅价格"/> 住宅价格</a></span>
                                    <span class="analy-area-item"> <a><input type="checkbox" class="shopPrice" value="商铺租金"/> 商铺租金</a></span>
                                </ul>
                            </div>
                        </li>
                        <li class="analysis-item">
                           
                            <div class="item-body">
                                <ul class="nav-children" style="display:block">
                                    <div class="line">
                                        <a class="analy-area-title" >
                                            <span class="text" style="font-size: 16px;">选择公共设施分析项</span>
                                        </a>
                                    </div>
                                    <span class="analy-area-item"> <a><input type="checkbox" name="analysis-input" value="加油站" /> 加油站</a></span>
                                    <span class="analy-area-item"> <a><input type="checkbox" name="analysis-input" value="ATM" /> ATM机</a></span>
                                </ul>
                            </div>
                        </li>
                        <div class="fa-analy-div">
                            <div class="btn-next start-analy-button"><span>开始进行图表分析</span></div>
                        </div>
                      </ul>

                  </div>
            </div>
            <div class="third-category">
                  <div id="echart-content">
                      <ul>
                          <li class="analysis-tab analysis-tab-hy"><span >行业占比</span></li>
                          <li class="analysis-tab analysis-tab-xf"><span>消费指数</span></li>
                          <li class="analysis-tab analysis-tab-sp"><span>商铺租金</span></li>
                          <li class="analysis-tab analysis-tab-zz"><span>住宅价格</span></li>
                          <li class="analysis-tab analysis-tab-rq"><span>人群分析</span></li>
                          <a><img class="close-btn" width = "25" height = "25" src="images/close.png" alt="关闭"/></a>
                      </ul>
                      <div id="tab-form-content">
                           <div id="pie-content"></div>
                           <div id="pie-content-all"></div>
                      </div>
                      </div>
            </div>
            <div class="col-sm-7 col-sm-offset-5 col-md-7 col-md-offset-5 main">
                <div id="map"></div>

            </div>
        </div>
    </div>
    <script src="js/data.js"></script>
    <script src="js/vendor.js"></script>
    <script src="js/map.js"></script>
    <!--     <script src="js/vendor.bundle.js"></script> -->
    <script src="js/bundle.js"></script>
    <script src="js/analy.js"></script>
</body>

</html>

