<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Genesis 商业地理 | 智慧商圈，精准营销，智能选址</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/list.css"/>
</head>
<body class="main-container list">

<div id="main">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> <img width="300" height="30" class="img-responsive" alt="Genesis 商业地理" src="images/logo.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                   
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown user" id="header-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-user"></i>
                            <span class="username"> <%= user.account %></span>
                            <i class="fa"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="logout"><i class="fa fa-power-off"></i> 退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container main-ctn">
        <div class="tab-content">
            <div id="main_plan" class="tab-pane fade in  active" data-toggle="popover">
                <div class="main-header">
                    <div class="header-left tool">
                        <ul class="list-unstyled list-inline">
<!--                             <li>
    <span></span>
    <a href="#" class="new">
        <i class="icon-q_add"></i>
        新建
    </a>
</li> -->
                             <li>
                                <span></span>
                                <a href="#" class="new">
                                    <i class="icon-q_add"></i>
                                    新建地图
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="header-center">

                    </div>
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <span>
                                </span>
                                <a class="item-tool item-refresh">
                                    <i class="icon-q_refresh2"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--列表页面-->
                <div class="tab-body">
                    <div class="tab-content">
                        <div class="item-ctn list-item">
                            <% if (list.length) { %>
                            <ul class="list-unstyled row-list">
                                 <% list.forEach(function(item){ %> 

                                <li data-id="<%=item._id%>">
                                 <a href="map?id=<%=item._id%>">
                                    <ul class="list-inline list-unstyled cloumn-list">
                                        <li>
                                        <span class="img-thumbnail"
                                              style="background-image:url(images/list_img.png)">
                                        <span class="edit-mesh item-edit">
                                        <i  class="icon-q_signup"></i></span></span>
                                        <span class="item-detail">
                                            <span class="item-prop prop-name"><%=item.mapName%></span>
                                            <span>
                                            
                                                <span class="item-prop prop-date"><%=item.date%></span>
                                               
                                            </span>
                                           
                                        </span>
                                        </li>
                                        <li><!-- <span class="item-del"></span> --></li>
                                    </ul>
                                    </a>
                                </li>
                                <% }) %>  
                            </ul>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><span><!-- react-text: 25 -->Copyright © <!-- /react-text --><a href="#">荒野猎人团队</a></span>
                    <!-- react-text: 27 -->|
                    <!-- /react-text --><span><a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备14030752号</a></span></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>